<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./style/style404.css">
  </head>
  <body>
    <div class="container">
      <h2>{{errorTitle}}</h2>
      <h1>404</h1>
      <h3>{{errorMessage}}</h3>
      <a href="/">Go back to the Main Page</a>
    </div>
  </body>
</html>
