<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="./style/style.css">
    </head>    
    <body>
        {{>header}}
        <br>
        <br>
        <section>
                <div class="content">
                <center><img src="./images/kkpic.png" class="pic"></center>
                <p>An ardent student pursuing Computer Science at the SRM University (Kattankulathur), India. 
                Enthused and ferverous with learning the upcoming trends in the contemporary world of computers'. 
                Proficient and Highly skilled in various programming langauges in my domain. 
                Being diligent and conscientious is what makes me an efficient and effective natural team-player.
                An influential person with adept communication skills.</p>
                {{>footer}}
                </div>
                  
            </div>
        </section>
   
        
        
    </body>
    
</html>