<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
<footer>
    <div class="inner-width">
        <div class="copyright">
            &copy; 2020 | Created and Developed By <a href="http://skaushik-kums.000webhostapp.com/ -v">{{name}}</a>
        </div>
        <div class="sm">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="https://twitter.com/KashKS20" class="fab fa-twitter"></a>
        <a href="https://linkedin.com/in/kaushik-kumaran-499bba68" class="fab fa-linkedin-in"></a>
        <a href="https://github.com/Codebuilder2022" class="fab fa-github"></a>
        </div>
    </div>
</footer>